doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width")
        title Rate&Goods test
        link(rel="stylesheet" href="css/libs.min.css")
        link(rel="stylesheet" href="css/main.min.css")
    body
        header
            .header.container
                .header-logo
                    .header__icon
                        .header__circle RG
                    .header__text Rate & Goods
                nav.header-navbar
                    ul.header-nav.list-unstyled.list-inline
                        li
                            a(href="#").text-uppercase Журнал
                        li
                            a(href="#").text-uppercase блог
                        li
                            a(href="#").text-uppercase каталог
                        li
                            a(href="#").text-uppercase магазин
                .actions
                    a(href="#").actions__search
                        i.fa.fa-search
                    a(href="#").actions__bookmark
                        i.fa.fa-bookmark-o
                    a(href="#").actions__profile
                        i.fa.fa-user-o
                    a(href="#").actions__menu
                        i.fa.fa-align-right
        main.container
            .product-summary
                .gallery
                    .gallery__item
                        img(src="http://placehold.it/174x274?text=image")
                    .gallery-thumbs-container
                        button.gallery-thumbs__controls_left
                            i.fa.fa-angle-left
                        ul.gallery-thumbs.list-unstyled.list-inline
                            li.gallery-thumbs__item.gallery-thumbs__item1(data-gallery-item="1")
                                img(src="http://placehold.it/57x57?text=1")
                            li.gallery-thumbs__item.gallery-thumbs__item2(data-gallery-item="2")
                                img(src="http://placehold.it/57x57?text=2")
                            li.gallery-thumbs__item.gallery-thumbs__item3(data-gallery-item="3")
                                img(src="http://placehold.it/57x57?text=3")
                            li.gallery-thumbs__item.gallery-thumbs__item4(data-gallery-item="4")
                                img(src="http://placehold.it/57x57?text=4")
                            li.gallery-thumbs__item.gallery-thumbs__item5(data-gallery-item="5")
                                img(src="http://placehold.it/57x57?text=5")
                            li.gallery-thumbs__item.gallery-thumbs__item6(data-gallery-item="6")
                                img(src="http://placehold.it/57x57?text=6")
                            li.gallery-thumbs__item.gallery-thumbs__item7(data-gallery-item="7")
                                img(src="http://placehold.it/57x57?text=7")
                            li.gallery-thumbs__item.gallery-thumbs__item8(data-gallery-item="8")
                                img(src="http://placehold.it/57x57?text=8")
                            li.gallery-thumbs__item.gallery-thumbs__item9(data-gallery-item="9")
                                img(src="http://placehold.it/57x57?text=9")
                            li.gallery-thumbs__item.gallery-thumbs__item0(data-gallery-item="0")
                                img(src="http://placehold.it/57x57?text=10")
                        button.gallery-thumbs__controls_right
                            i.fa.fa-angle-right
                .product-content
                    h1.content__heading Кофе LavAzza Gran Aroma Bar
                    .content-average-rating
                        .content-average-rating__rate
                            - for (var i = 0; i < 5; i++){
                                i.fa.fa-star.rating.rating_active
                            - }
                        .content__reviews-counts.text-uppercase 170 оценок / 65 отзывов
                    .content-overview
                        .content-overview__price
                            .price.text-uppercase цена
                            .price__spread 450 до 520
                            .price__link
                                i.fa.fa-chevron-right
                        .content-overview__item
                            .content-overview__item-caption.text-uppercase штрихкод
                                .content-overview__item-filler.filler
                            .content-overview__item-value 4600985654321
                        .content-overview__item
                            .content-overview__item-caption.text-uppercase производитель
                                .content-overview__item-filler.filler
                            .content-overview__item-value LAVAZZA
                        .content-overview__item
                            .content-overview__item-caption.text-uppercase Страна
                                .content-overview__item-filler.filler
                            .content-overview__item-value ITAL
                    .content-ratings
                        .ratings-five.ratings
                            - for (var i = 0; i < 5; i++){
                                i.fa.fa-star.rating.rating_active
                            - }
                            .rating-bar__bg
                                .rating-bar__active.rating-bar-five
                            .ratings__value 235
                        .ratings-four.ratings
                            - for (var i = 0; i < 4; i++){
                                i.fa.fa-star.rating.rating_active
                            - }
                            i.fa.fa-star.rating
                            .rating-bar__bg
                                .rating-bar__active.rating-bar-four
                            .ratings__value 56
                        .ratings-three.ratings
                            - for (var i = 0; i < 3; i++){
                            i.fa.fa-star.rating.rating_active
                            - }
                            i.fa.fa-star.rating
                            i.fa.fa-star.rating
                            .rating-bar__bg
                                .rating-bar__active.rating-bar-three
                            .ratings__value 31
                        .ratings-two.ratings
                            i.fa.fa-star.rating.rating_active
                            i.fa.fa-star.rating.rating_active
                            - for (var i = 0; i < 3; i++){
                                i.fa.fa-star.rating
                            - }
                            .rating-bar__bg
                                .rating-bar__active.rating-bar-two
                            .ratings__value 0
                        .ratings-one.ratings
                            i.fa.fa-star.rating.rating_active
                            - for (var i = 0; i < 4; i++){
                            i.fa.fa-star.rating
                            - }
                            .rating-bar__bg
                                .rating-bar__active.rating-bar-one
                            .ratings__value 17
            .product-sticker
                .sticker-tabs
                    ul.sticker-tabs__list.list-inline.list-unstyled
                        li.sticker-tabs__item
                            button#sticker-show.sticker-tabs__link.sticker-tabs__link_active.text-uppercase описание
                        li.sticker-tabs__item
                            button#reviews-show.sticker-tabs__link ОТЗЫВЫ (3)
                .sticker-content
                    .sticker-description
                        .sticker-description__blacklist
                            h3.blacklist__heading В черном списке
                                img(src="http://placehold.it/35x35?text=blacklist").blacklist__icon
                                br
                                span.blacklist__text ПРОВЕРЕНО В «РОСКОНТРОЛЕ»
                        .sticker-description-item
                            .sticker-description-item__percentage 85
                            .sticker-description-item__text Безопасность
                                .sticker-description-item__bar
                                    .sticker-description-item__bar_active.safety
                        .sticker-description-item
                            .sticker-description-item__percentage 67
                            .sticker-description-item__text Натуральность
                                .sticker-description-item__bar
                                    .sticker-description-item__bar_active.nature
                        .sticker-description-item
                            .sticker-description-item__percentage 90
                            .sticker-description-item__text Полезность
                                .sticker-description-item__bar
                                    .sticker-description-item__bar_active.good
                        .sticker-description-item
                            .sticker-description-item__percentage 0
                            .sticker-description-item__text Дегустация
                                .sticker-description-item__bar
                                    .sticker-description-item__bar_active.degustation
                    .sticker-goods.goods
                        h3.goods__heading Достоинства
                        ul.goods-list
                            li.goods-list__item
                                span Безопасный и без растительных жиров
                            li.goods-list__item
                                span Натуральный
                            li.goods-list__item
                                span Вкусный
                            li.goods-list__item
                                span Без консервантов
                    .sticker-limitations.limitations
                        h3.limitations__heading Недостатки
                        ul.limitations-list
                            li.sticker-limitations-list__item
                                span Увеличенный срок годности посравнению с рекомендуемым
                    .stiker-blacklist-info.blacklist-info

                        h3.blacklist-info__heading Товар в черном списике
                            span.blacklist-info__icon !
                        .blacklist-info__text Содержание белка меньше, чем предусмотрено для сервелата ГОСТом. Требования ТУ неизвестны.
                        .blacklist-info__danger Степень опасности: Средняя
                        .blacklist-info__danger-rating
                            .danger-bar.danger-bar_active
                            .danger-bar.danger-bar_active
                            .danger-bar
                            .danger-bar
            .product-info.info
                h4.info-partner
                    img(src="img/gs-1-us.svg").info-partner__icon
                    |Информационный партнер
                h4.info-kosher
                    img(src="http://placehold.it/30x30?text=kosher").info-kosher__icon
                    |Сертификат кошерности
                .info-properties.properties
                    h3.properties__heading Свойства товара
                    .properties-item
                        .properties-item__caption СОСТАВ
                            .properties-item__line.filler
                        .properties-item__content
                            |100% натуральный кофе
                            br
                            |40% Арабика
                            br
                            |60% Робуста
                            br
                            |Среднеобжаренный кофе
                    .properties-item
                        .properties-item__caption ОПИСАНИЕ
                            .properties-item__line.filler
                        .properties-item__content Кофе натуральный, жареный, высший сорт в зернах, в/у.
                .info-characteristics.characteristics
                    h3.characteristics__heading Характеристики
                    .characteristics-item
                        .characteristics-item__caption МАССА НЕТТО
                            .characteristics-item__line.filler
                        .characteristics-item__content 1 000г.
                    .characteristics-item
                        .characteristics-item__caption В УПАКОВКЕ
                            .characteristics-item__line.filler
                        .characteristics-item__content 155×85×270 мм (Д×Ш×В)
                    .characteristics-item
                        .characteristics-item__caption ТИП ПРОДУКТА
                            .characteristics-item__line.filler
                        .characteristics-item__content В зернах
                    .characteristics-item
                        .characteristics-item__caption УПАКОВКА
                            .characteristics-item__line.filler
                        .characteristics-item__content Пакет
            .product-reviews.reviews.hidden
                h2.reviews__heading ВСЕ ОТЗЫВЫ (3)
                    button.reviews__leave-comment.btn_green ОСТАВИТЬ КОММЕНТАРИЙ
                    span.reviews__sort Сортировать по:
                        span.reviews__sort-date ДАТЕ
                        i.fa.fa-chevron-down
                .reviews-content
                    .reviews-post.post
                        .post__heading
                            .post__user
                                img(src="http://placehold.it/49x49").post__user-icon
                                span.post__user-name Наталья Рождественская
                                br
                                span.post__user-occupation.text-uppercase Эксперт R&G
                            ul.post-socials.list-inline.list-unstyled
                                li
                                    a(href="#").post-socials__link
                                        i.fa.fa-vk
                                li
                                    a(href="#").post-socials__link
                                        i.fa.fa-twitter
                                li
                                    a(href="#").post-socials__link
                                        i.fa.fa-facebook-square
                                li
                                    a(href="#").post-socials__link
                                        i.fa.fa-google-plus
                                li
                                    a(href="#").post-socials__link
                                        i.fa.fa-instagram
                                li.post-socials__etc
                                    span.oval
                                    span.oval
                                    span.oval
                        .post-content
                            .post-content__subject Ничто не истинно и всё дозволено
                            .post-content__text
                                p Лирическое отступление:
                                    br
                                    | Начну с того, что я очень хорошо знаю серию игр Assassin`s Creed. Можно сказать, играю в неё, с момента выхода первой части, то есть с 2007 года. В этом году, серии исполняется 10 лет ! Круглая дата, надо сказать. Поэтому, фильм я буду рассматривать как с точки зрения игрока, так и с точки зрения киномана. Поехали !
                                p О сюжете:
                                    br
                                    | За основу сюжета, был взят скелет сюжета игры, мол есть ассасины, есть тамплиеры и они ведут тысячелетнюю войну. Только вместо Дезмонда Майлза и Альтаира, у нас тут Каллум Линч и Агилар де Ирха. Преступнику Каллуму, даётся второй шанс, и он узнает о том, что он, потомок древнего рода ассассинов, ведущих давнюю вражду, против тамплиеров.
                                p О самом фильме:
                                    br
                                    | Смешанные чувства на самом деле. С одной стороны, всё очень и очень хорошо. С другой, не очень.
                                    br
                                    | Во-первых, мне, как игроку, понравилось, что многие моменты, что были в игре, были показаны и в фильме. Например: Прыжок веры, скрытые клинки, паркур, фирменная одежда у ассасинов. Это смотрится действительно класссно, особенно тем, кому нравится эта игра. В отличии, опять же, от игры, место действия было перенесено в Испанию XV века, что говорит о том, что создатели фильма и компания Ubisoft, основывались на Assassin`s Creed II, где главный герой Эцио Аудиторе де Ференце и действие происходит в Италии, Эпохи Возрождения. Иных причин, почему были выбраны именно это место действия и именно эта эпоха, я не вижу.Так как я уже сказал, про вторую часть игры и про место действия Италию, скажу, что мне понравилось то, как показана Испания времен XV века. Выглядит всё очень красиво. Понравился так же и ассасин Агилар. Он, скорее, по духу ближе к Альтаиру, такой же бесстрашный и самоотверженный воин, готовый ради идеи, сложить свою голову. Понравился и маститый актерский состав. Тут вам и исполнитель главной роли, крутой мужичок Майкл Фассбендер, тут вам и красотка Марион Котийяр, тут вам и серьезный Джереми Айронс. Что ни говори, а к актерам у меня нет вопросов. Особенно к Фассбендеру, он отыграл очень хорошо.
                                    br
                                    | Вот что мне не понравилось, так это тягучесть и медленность повествования. В некоторые моменты, реально было скучно, но их было мало, так что, можно сказать, что это ложка дёгтя в бочке мёда.Исходя из вышеизложенного, получилась, некая вольная экранизация оригинальной игры, но со своими героями, временем и местом повествования. Хорошая, но с минусами.
                        .post__estimates
                            span.post__likes-count
                                i.fa.fa-heart-o
                                | 16
                            span.post__replies-count
                                i.fa.fa-align-left.replies
                                | 3
                        .post-footer
                            .post__date 16 января в 12:27
                            .post-actions
                                .post-actions__like
                                    i.fa.fa-heart-o
                                    | СПАСИБО
                                .post-actions__reply
                                    i.fa.fa-align-left.replies
                                    | ОТВЕТИТЬ
                        .post-reply.reply
                            .reply__heading
                                .reply__user
                                    img(src="http://placehold.it/49x49").reply__user-icon
                                    span.reply__user-name Артём Власьев
                                    span.reply__to-name
                                        i.fa.fa-mail-forward
                                        | Наталья Рождественская
                                ul.post-socials.list-inline.list-unstyled
                                    li
                                        a(href="#").post-socials__link
                                            i.fa.fa-vk
                                    li
                                        a(href="#").post-socials__link
                                            i.fa.fa-twitter
                                    li
                                        a(href="#").post-socials__link
                                            i.fa.fa-facebook-square
                                    li
                                        a(href="#").post-socials__link
                                            i.fa.fa-google-plus
                                    li
                                        a(href="#").post-socials__link
                                            i.fa.fa-instagram
                                    li.post-socials__etc
                                        span.oval
                                        span.oval
                                        span.oval
                            .reply-content
                                .reply-content__text
                                    p В основе данного фильма заложен нетривиальный сюжет. Главный герой, являясь предком одного из ассасинов, с помощью новейших технологий отправляется в далёкое прошлое, чтобы проследить небольшой отрезок жизни своего предка. Как и во всех фильма подобного жанра — ему нужен артефакт, дающий некую свободу (но, что свобода одному, смерть другому). Вернее, Яблоко нужно не ему, а тем, кто спас его от смертной казни. Это если коряво и в общих чертах о задумке.
                                    p Насколько я знаю, картина является экранизацией нашумевшей компьютерной игры. Наверное, именно поэтому «Кредо убийцы» в течение всего хронометража больше напоминал именно игру, нежели художественное полотно. Лента, безусловно, динамична, богата на спецэффекты, атмосферна. Но она не даёт нам прочувствовать внутренний мир главного героя. Это что-то из «оперы» экранизации комиксов, когда не стоит ожидать серьёзного драматизма или заумного сюжета. Фильм поверхностен и вместе с тем красив, стилен и колоритен.
                                    p Только необходимо также отметить, что все персонажи наделены минимумом эмоций и коротчайшими характеристиками. Каждый актёр отыгрывал очень узкий и однобокий спектр.
                                    p Фассбендеру явно тесно в рамках своего особо не прописанного персонажа. Он способен на глубокий драматизм, но картина того не требует. Сценарий больше походит на слепленные меж собой квесты. В общем, практически игра на большом экране. Также стоит отметить потрясающую физическую подготовку Фассбендера. «Кредо» богат на драки, на символическое пересечение прошлого и будущего, красиво оформленного спецэффектами.
                                    p В целом, это неплохое кино, только не стоит ждать от фильма чего-то сверх. Стилистика с экранизациями комиксов одна и та же, а наличие таких больших актёров, как Фассбендер и Айронс в данном случае ничего не меняют.
                            .post__estimates
                                span.post__likes-count
                                    i.fa.fa-heart-o
                                    | 22
                                span.post__replies-count
                                    i.fa.fa-align-left.replies
                                    | 1
                            .post-footer
                                .post__date 16 января в 15:34
                                .post-actions
                                    .post-actions__like
                                        i.fa.fa-heart-o
                                        | СПАСИБО
                                    .post-actions__reply
                                        i.fa.fa-align-left.replies
                                        | ОТВЕТИТЬ
                        .post-reply.reply
                            .reply__heading
                                .reply__user
                                    img(src="http://placehold.it/49x49").reply__user-icon
                                    span.reply__user-name Диана Шерстова
                                    span.reply__to-name
                                        i.fa.fa-mail-forward
                                        | Артём Власьев
                                ul.post-socials.list-inline.list-unstyled
                                    li
                                        a(href="#").post-socials__link
                                            i.fa.fa-vk
                                    li
                                        a(href="#").post-socials__link
                                            i.fa.fa-twitter
                                    li
                                        a(href="#").post-socials__link
                                            i.fa.fa-facebook-square
                                    li
                                        a(href="#").post-socials__link
                                            i.fa.fa-google-plus
                                    li
                                        a(href="#").post-socials__link
                                            i.fa.fa-instagram
                                    li.post-socials__etc
                                        span.oval
                                        span.oval
                                        span.oval
                            .reply-content
                                .reply-content__text
                                    p В этот раз рецензия получится достаточно короткой и без весомых подробностей. В первую очередь в виду того, что я очень слабо помню сюжет первых частей игры. Но почему-то остаюсь уверен, что он был совершенно иным, особенно в развязке истории про яблоко…
                                    p Итак. Фильм Кредо Убийцы предлагает нам кинематографичный взгляд на игровую историю по Assassin’s Creed — игре, которая, к слову, изжила свою сюжет еще пару частей назад, но которая в первых ревизиях была очень атмосферна и интересна. Преимущество игры — в длительном хронометраже. А фильм в среднем всего 2 часа идет, за которую зрителя надо и с идеей познакомить, и главных героев раскрыть, да еще и в стародревние времена погрузить. Ну так вот. На третье времени совсем не хватило, со вторым справились 50/50, а первую тему — идею, раскрыли более-менее неплохо.
                                    p Плохо, что слабо раскрыта история вражды ассассинов и тамплиеров. Плохо, что времена инквизиции показаны совсем как-то незначительно. Ужасно, что концовку сняли именно такой. Она вот самый толстый гвоздь в фильм и вбила.
                                    p Хорошо сняли паркуры. Красиво сделали графику. Но слабо развили сюжет. Те, кто в игру играл, понимают конфликт чуть лучше, а вот если за ассассинов вы не играли ни разу в жизни — для вас многое будет скучным и непонятным, готовьтесь.
                                    p Итог. Экранизация, несмотря на мощный трейлер, получилась откровенно слабая. Сродни игр того же Ubisoft, которые последние годы ожидаются с большим ажиотажем, а выходят глюченные, недопиленные и порой даже уже и неинтересные в плане сюжета. Идти ли на этот фильм в кино? Ну, если больше смотреть нечего — то можно. Но будет скучновато, готовьтесь.
                            .post__estimates
                                span.post__likes-count
                                    i.fa.fa-heart-o
                                    | 22
                                span.post__replies-count.hidden
                                    i.fa.fa-align-left.replies
                                    |
                            .post-footer
                                .post__date 18 января в 15:34
                                .post-actions
                                    .post-actions__like
                                        i.fa.fa-heart-o
                                        | СПАСИБО
                                    .post-actions__reply
                                        i.fa.fa-align-left.replies
                                        | ОТВЕТИТЬ
                    .reviews-post.post
                        .post__heading
                            .post__user
                                img(src="http://placehold.it/49x49").post__user-icon
                                span.post__user-name Наталья Графова
                                br
                                span.post__user-occupation.text-uppercase Эксперт R&G
                            ul.post-socials.list-inline.list-unstyled
                                li
                                    a(href="#").post-socials__link
                                        i.fa.fa-vk
                                li
                                    a(href="#").post-socials__link
                                        i.fa.fa-twitter
                                li
                                    a(href="#").post-socials__link
                                        i.fa.fa-facebook-square
                                li
                                    a(href="#").post-socials__link
                                        i.fa.fa-google-plus
                                li
                                    a(href="#").post-socials__link
                                        i.fa.fa-instagram
                                li.post-socials__etc
                                    span.oval
                                    span.oval
                                    span.oval
                        .post-content
                            .post-content__subject Ничто не истинно и всё дозволено
                            .post-content__text
                                p По следам предков
                                p «Пока другие ограничены моралью и законом, помни — все дозволено».
                                p В свое время я убивал много часов сидя за играми серии «Assassin`s Creed», которые были доступны на тот момент. Возвращения к воспоминаниям предков, вражда ассасинов и тамплиеров, воссоздание показываемой эпохи — все это вызывала у меня не слабый интерес. Ну и еще я просто любил играть. Мне хотелось все же увидеть, как смогут перенести идею игры на экраны кинотеатров, и вот, спустя несколько лет, я смог это лицезреть.
                                p Сюжет. Тамплиеры нашего времени, дабы найти древнюю реликвию называемую Яблоком Эдема, построили Анимус, позволяющий с помощью людей, которые являются потомками членов древнего Братства ассасинов, воссоздавать воспоминания тех самых предков, чтобы найти местоположение необходимой реликвии. Их, скажем так, «ключом» к нахождению Яблока стал Каллум Линч, осужденный убийца, являющийся предком Агилара, ассасина живущего в Испании 15-го века. Именно Агилар знал, где можно найти так нужный тамплиерам артефакт. Яблоко поможет Ордену Тамплиеров искоренить в обществе инакомыслие и уничтожить Братство ассасинов, с которым они враждуют уже сотни лет. А ассасины, в свою очередь, борются за свободу и пытаются уберечь Яблоко Эдема от плохих рук.
                                p Актеры данной картины хорошо справились с поставленной ролью. Фассбендер выдал отличную драматическую роль, каскадеры прелестно выполнили свою работу, сделав фильм еще более динамичным в плане паркура. А вот Марион Котийяр сыграла слаба и не очень убедительно. Ну а их герои казались слегка пустыми. Нет возможности узнать их поближе, и поэтому сложно сопереживать (про персонажей второго плана говорить вовсе не стоит). А все действия происходят настолько быстро, что трудновато уследить за ними. Для меня 2 часа просмотра пролетели весьма быстро. Фильм способен держать в напряжении благодаря хорошей картинке, экшну и атмосфере. Пустынная Испания, скачки на лошадях, полеты орла, обустройство здания Абстерго, «новый» Анимус, паркур и т. п смотрятся весьма занимательно. И еще мне понравилось само Братство; их идеи, цели, верность. А вот тамплиеров не очень раскрыли, на мой взгляд.
                                p Как я говорил ранее, Фассбендер превосходно справился со своей ролью, но жаль, что герой Майкла в прошлом (Агилар) лишь прыгает, бегает и убивает.
                                p Создатели фильма что-то поменяли, а что-то оставили. Например, вместо кресла из игры, Анимус превратился в «механическую руку», благодаря которой Каллум способен повторять и запоминать все движения своего предка. Невозможно оторваться от того, как меняются во время драк кадры, показывая и Агилара и Каллума, повторяющего все движения находясь в Анимусе. Галлюцинации и видения главного героя в игре были вызваны тем, что он долго просидел в Анимусе, а в фильме причина совсем иная. Но создатели сохранили ту традицию, что ассасины должны были пожертвовать своим безымянным пальцем, дабы доказать Братству, что они достойны носить скрытый клинок.
                                p Мне совершенно не жаль потраченного времени, но «Кредо убийц» явно не для всех зрителей. Фанатам игр он может понравиться, но человеку не знакомому с серией «Assassin`s Creed» надо подразобраться, чтобы понять всю суть. Например, непонимающему зрителю не будет ясно, почему Братство и Орден так долго бьются из-за какого-то Яблока, ведь фильм не дает на это внятного ответа. Хотя, если рассматривать этот фильм как аттракцион (так называл его сам режиссер картины), то обычный зритель может получить удовольствие от него.
                                p Фильм нельзя назвать провалом и нельзя назвать полной удачей. Я не знаком с другими экранизациями игр, поэтому мне не с чем сравнивать, но, не смотря на все немногочисленные минусы, «Кредо убийцы» меня удовлетворил. Хорошее фэнтези с захватывающей идеей. Финал, как я понял, намекает на вторую часть, но было бы неплохо обойтись и одной.
                        .post__estimates
                            span.post__likes-count
                                i.fa.fa-heart-o
                                | 27
                            span.post__replies-count.hidden
                                i.fa.fa-align-left.replies
                                |
                        .post-footer
                            .post__date 20 января в 22:37
                            .post-actions
                                .post-actions__like
                                    i.fa.fa-heart-o
                                    | СПАСИБО
                                .post-actions__reply
                                    i.fa.fa-align-left.replies
                                    | ОТВЕТИТЬ
                button.reviews__show-more.text-uppercase.center-block.btn_green Показать еще

            .ad-large.ad
                img(src="http://placehold.it/303x486?text=ad-large")
            .ad-small.ad
                img(src="http://placehold.it/316x111?text=ad-small")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="js/libs.min.js")
    script(src="js/main.js")